{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    {% comment %} <link rel="stylesheet" href="{% static "css/recipes.css" %}"> {% endcomment %}
</head>
<body>
    {% block content %}
    <main>
        <div>
            <h1>My Lists</h1>
            <p><a href="{% url 'create_list' %}">Create a new list</a><p>
            <p><a href="{% url 'create_todo_item' %}">Create a new item</a><p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todo_list %}
                        <tr>
                            <td><a href="{% url 'todo_list_detail' item.id %}">{{ item.name }}</a></td>
                            <td>{{ item.items.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    {% endblock content %}
    <footer></footer>
</body>
</html>
