{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    {% comment %} <link rel="stylesheet" href="{% static "css/recipes.css" %}"> {% endcomment %}
</head>
<body>
    <header></header>
    {% block content %}
    <main>
        <div>
            <h1>{{ list_object.name }}</h1>
            <p><a href="{% url 'edit_list' list_object.id %}">Edit</a></p>
            <p><a href="{% url 'delete_list' list_object.id %}">Delete</a></p>
            <h2> Tasks </h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in list_object.items.all %}
                        <tr>
                            <td><a href="{% url 'edit_item' item.id %}">{{ item.task }}</a></td>
                            <td>{{ item.due_date|date:"M d, Y" }}</td>
                         </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    {% endblock content %}
    <footer></footer>
</body>
</html>
